@charset "UTF-8";
/* CSS Document */
.slider-top01 {
  background: url("桜と一の坂川02.jpeg");
}
.slider-top02 {
  background: url("110029.jpg");
}
.slider-top03 {
  background: url("yamaguchixaviel.jpeg");
}
#top-slider {
  position: relative;
  z-index: 1;
  /*↑z-indexの値をh1のz-indexの値よりも小さくして背景に回す*/
  height: 100vh; /*スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
}
.top-slider-item {
  height: 100vh;
}
#area-slider {
  position: relative;
  z-index: 1;
  padding-bottom: 80px;
}
.slider-item {
  width: 100%;
  background-repeat: no-repeat; /*背景画像をリピートしない*/
  background-position: center; /*背景画像の位置を中央に*/
  background-size: cover; /*背景画像が.slider-item全体を覆い表示*/
}
.section-description {
  width: fit-content;
  margin: 80px auto 0;
  padding: 0 8vw;
}
.section-description img {
  margin: 40px 0;
}
.section-description h3 {
  margin-bottom: 16px;
  color: #7D6C46;
}
.section-description p {
  text-align: left;
  width: fit-content;
  margin: 0 auto;
}
.section-area {
  margin-top: 80px;
}
.section-area h2 {
  margin-bottom: 52px;
}
.section-area__content {
  color: #ffffff;
  padding: 40px 8vw;
  width: fit-content;
  margin: 0 auto;
}
.section-area__content h3 {
  font-weight: 600;
  font-size: 2.8rem;
  margin-bottom: 40px;
  letter-spacing: 2px;
}
.section-area__content p {
  color: #f1f1f1;
  font-weight: 200;
  width: fit-content;
  margin: 0 auto 32px;
  text-align: left;
}
.section-area__content img {
  max-width: 600px;
  margin: 0 auto 32px
}
.section-area__btn a {
  display: inline-block;
  width: 60vw;
  height: 40px;
  max-width: 240px;
  line-height: 13px;
  border: 1px solid #FFDC91;
  border-radius: 40px;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  z-index: 5;
}
.section-area__btn p {
  position: relative;
  text-align: center;
  top: 8px;
  color: #FFDC91;
  font-weight: 600;
  font-size: 2.0rem;
}
.slick-prev, .slick-next {
  top: 82%;
}
.section-jump {
  display: flex;
  width: 100%;
}
.section-jump div {
  width: 50%;
}
.section-jump h2 {
  margin:30px 0;
  color: #fff;
  font-size: 5vw;
  font-size: 600;
}
.section-jump img {
  display: flex;
  margin: 20px auto;
  height: 24vw;
  width: 24vw;
  max-width: 280px;
  max-height: 280px;
  border-radius: 50%;
  object-fit: cover;
  filter: brightness(60%);
  justify-content: center;
  flex-direction: column;
}
.section-jump p {
  color: #FFDC91;
  font-size: 14px;
  margin-bottom: 36px;
  border: 1px solid #FFDC91;
  border-radius: 40px;
  display: inline-block;
  padding: 0 16px;
}
hr {
  margin-top: 0px;
}
@media(min-width:1024px) {
  .top-wrapper h1 {
    max-height: 200px;
    font-size: 60px;
    top: 87vh;
    letter-spacing: 6px;
    height: 140px;
  }
  .font-20 {
    font-size: 40px;
  }
  .section-description {
    margin-top: 150px;
    margin-bottom: 150px;
  }
  .section-description img {
    margin: 0;
  }
  .section-description__description {
    padding-left: 40px;
  }
  .section-description h3 {
    font-size: min(2.0vw, 30px);
    margin-bottom: 60px;
  }
  .section-description p {
    margin: 0;
  }
  #section__pc-area {
    padding-top: 150px;
  }
  .section-area__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    max-width: 1184px;
  }
  .section-description {
    padding: 0px;
  }
  .section-area__description {
    text-align: left;
    min-width: 428px;
    padding-right: 40px;
  }
  .section-area__description h3 {
    font-size: 4.0rem;
    margin-bottom: 120px;
  }
  .section-area__description p {
    margin: 0px;
    line-height: 40px;
  }
  .section-area__content img {
    margin-bottom: 0px;
  }
  #section-area__content-rv {
    flex-direction: row-reverse;
  }
  #section-area__description-rv {
    right: 0px;
    padding-right: 0px;
    padding-left: 40px;
  }
  .section-area__btn {
    padding-top: 60px;
    padding-bottom: 100px;
  }
  .section-area__btn a {
    display: flex;
    max-width: 320px;
    height: 60px;
    flex-direction: row;
    align-content: flex-end;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
  }
  .section-area__btn img {
    width: 40px;
  }
  .section-area__btn p {
    top: 0;
  }
  .section-jump h2{
    font-size: 44px;
    margin: 40px auto;
  }
  .section-jump p{
    display: flex;
    max-width: 200px;
    height: 52px;
    flex-direction: row;
    align-content: flex-end;
    justify-content: space-evenly;
    align-items: center;
    margin: 40px auto;
    font-size: 20px;
    border: 2px solid #FFDC91;
    font-weight: 600;
  }
}
